.headline {
    margin-top: 2em;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 2em;
    margin-left: 1em;

    
}

.headline-visit {
    font-size: 26px;
    font-weight: 500;
    
           
    }

.map {
    width: 445px;
    height: 306px; 
    margin: 0;
    
}

.grid-container {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    grid-gap: 2em;

}

.opening-hours-visit {
    width: 100%;
    display: grid;     
    text-align :left; 
}

.opening-hours-visit td {
    align-self: center;
  }

  
  @media (max-width: 550px) {
    
    .map {
    width: 300px;
    height: 206px;
    }
}